<div>
  <%= f.label :start_distance %>
  <%= f.number_field :start_distance %>
</div>
<div>
  <%= f.label :end_distance %>
  <%= f.number_field :end_distance %>
</div>  
<div>
  <%= f.label :rate %>
  <%= f.number_field :rate, step: :any %>  
</div>

<div>
  <%= f.submit 'Enviar' %>
</div>