<div>
  <%= f.label :start_distance %>
  <%= f.number_field :start_distance, class: "form-control" %>
</div>
<div>
  <%= f.label :end_distance %>
  <%= f.number_field :end_distance, class: "form-control" %>
</div>  
<div>
  <%= f.label :rate %>
  <%= f.number_field :rate, step: :any, class: "form-control" %>  
</div>
<br/>
<div>
  <%= f.submit 'Enviar', class: "btn btn-primary" %>
</div>