<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :min_distance %>
  <%= f.number_field :min_distance, class: "form-control"  %>
</div>
  <div class="form-group">
  <%= f.label :max_distance %>
  <%= f.number_field :max_distance, class: "form-control"  %>
</div>
  <div class="form-group">
  <%= f.label :max_weight %>
  <%= f.number_field :max_weight, class: "form-control"  %>
</div>
<div class="form-group">
  <%= f.label :min_weight %>
  <%= f.number_field :min_weight, class: "form-control"  %>
</div>
<div class="form-group">
  <%= f.label :fixed_rate %>
  <%= f.number_field :fixed_rate, step: :any, value: @transport_type.currency, class: "form-control"  %>
</div>
<div>
  <%= f.label :active %>
  <%= f.check_box :active %>
</div> 
</br>
<div class="form-group">
  <%= f.submit 'Enviar', class: "btn btn-primary" %>
</div> 
