<h2>Editar Modalidade de Transporte</h2>
<%= form_with(model: @transport_type ) do |f| %>
  <div>
      <%= f.label :name %>
      <%= f.text_field :name%>
    </div>  
    <div>
      <%= f.label :min_distance %>
      <%= f.number_field :min_distance %>
    </div>
    <div>
      <%= f.label :max_distance %>
      <%= f.number_field :max_distance%>
    </div>  
    <div>
      <%= f.label :max_weight %>
      <%= f.number_field :max_weight%>  
    </div>
      <div>
      <%= f.label :min_weight %>
      <%= f.number_field :min_weight %>
    </div>  
    <div>
      <%= f.label :fixed_rate %>
      <%= f.number_field :fixed_rate, step: :any, value: @transport_type.currency %>
    </div>
    <div>
      <%= f.submit 'Enviar' %>
    </div>
<% end %>