<h2> <%= @transport_type.name%> </h2> 
<div>
  <ul>
    <li><strong>Distância Mínima: </strong><%= @transport_type.min_distance %>Km</li>
    <li><strong>Distância Máxima: </strong><%=@transport_type.max_distance%>Km</li>
    <li><strong>Taxa fixa: R$</strong><%=@transport_type.fixed_rate%> </li>
    <li><strong>Peso máximo: </strong><%=@transport_type.max_weight%>Kg </li>
  </ul>  
</div>
<div>
<% if current_user.is_admin? %>
  <%= link_to('Editar', edit_transport_type_path(@transport_type.id)) %>
  <%= button_to('Remover', transport_type_path(@transport_type.id), method: :delete) %>
  <% unless @transport_type.active %>
    <%= button_to "Ativar", activate_transport_type_path(@transport_type.id) %>
  <% else %>
    <%= button_to "Desativar", deactivate_transport_type_path(@transport_type.id)%>
  <% end %>
<% end %>
</div>