<h2> Modalidade de Transporte - <%= @transport_type.name %> </h2> 
<div>
  <ul>
    <li><strong>Distância Mínima: </strong><%=  @transport_type.min_distance  %>Km</li>
    <li><strong>Distância Máxima: </strong><%= @transport_type.max_distance %>Km</li>
    <li><strong>Taxa fixa: </strong><%= number_to_currency(@transport_type.currency, unit: "R$", separator: ",", delimiter: "") %></li>
    <li><strong>Peso máximo: </strong><%= @transport_type.max_weight %>Kg </li>
    <li><strong>Status: </strong><%= @transport_type.active ? 'Ativo' : 'Desativado' %> </li>
  </ul>  
</div>
<% if current_user.is_admin? %>
  <%= link_to('Editar', edit_transport_type_path(@transport_type.id)) %>
  <%= button_to('Excluir', transport_type_path(@transport_type.id), method: :delete) %>

  <% unless @transport_type.active %>
    <%= button_to "Ativar", activate_transport_type_path(@transport_type.id) %>
  <% else %>
    <%= button_to "Desativar", deactivate_transport_type_path(@transport_type.id)%>
  <% end %>
  <br/>
<% end %>
<br/>
<h3> Taxas por peso </h3> 
<div class="row" id="weight">
  <div class="col-md-3">
    <table style="width: 100%" >
      <tr>
        <th style="width: 40%">Intervalo</th>
        <th style="width: 40%">Valor por Km</th>
        <th style="width: 20%"></th>
      </tr>
      <% @price_per_weights.each do |price|%>
        <tr>
          <td><%= "#{price.start_weight}Kg - #{price.end_weight}kg" %></td>
          <td><%= number_to_currency(price.currency, unit: "R$", separator: ",", delimiter: "") %> </td>
          <td>
            <% if current_user.is_admin? %>
              <%= button_to("Excluir", transport_type_price_per_weight_path(@transport_type.id, price), method: :delete) %> 
            <%end%>  
          </td>
        </tr> 
      <%end%> 
    </table>
    <% if current_user.is_admin? %>
      <%= link_to "Cadastrar Preço por Peso", new_transport_type_price_per_weight_path(@transport_type.id) %>
    <%end%>  
  </div>
</div>
<br/>
<h3> Taxas por Distância </h3> 
<div class="row" id="distance">
  <div class="col-md-3">
    <table style="width: 100%" >
      <tr>
        <th style="width: 40%">Intervalo</th>
        <th style="width: 40%">Valor por Km</th>
        <th style="width: 20%"></th>
      </tr>
      <% @price_per_distances.each do |price|%>
        <tr>
          <td><%= "#{price.start_distance}Km - #{price.end_distance}Km" %></td>
          <td><%= number_to_currency(price.currency, unit: "R$", separator: ",", delimiter: "") %> </td>
          <td>
            <% if current_user.is_admin? %>
              <%= button_to("Excluir", transport_type_price_per_distance_path(@transport_type.id, price), method: :delete) %> 
            <%end%>  
          </td>
        </tr> 
      <%end%> 
    </table>
    <% if current_user.is_admin? %>
      <%= link_to "Cadastrar Preço por Distância", new_transport_type_price_per_distance_path(@transport_type.id) %>
    <%end%>  
  </div>
</div>
<br/>

<h3> Prazos de Entrega </h3> 
<div class="row" id="prazo">
  <div class="col-md-3">
    <table style="width: 100%" >
      <tr>
        <th style="width: 40%">Intervalo</th>
        <th style="width: 40%">Horas</th>
        <th style="width: 20%"></th>
      </tr>
      <% @arrival_times.each do |arrival|%>
        <tr>
          <td><%= "#{arrival.start_distance}Km - #{arrival.end_distance}Km" %></td>
          <td><%= "#{arrival.hours}h " %> </td>
          <td>
            <% if current_user.is_admin? %>
              <%= button_to("Excluir", transport_type_arrival_time_config_path(@transport_type.id, arrival), method: :delete) %> 
            <%end%>  
          </td>
        </tr> 
      <%end%> 
    </table>
    <% if current_user.is_admin? %>
      <%= link_to "Cadastrar Configuração de Prazo", new_transport_type_arrival_time_config_path(@transport_type.id) %>
    <%end%>  
  </div>
</div>