
<h3> Ordens de Serviços</h3> 

<% @service_orders.each do |t|%>
  <div>
    <ul>
      <li>  <%= link_to t.recipient_address, service_order_path(t.id) %> </li>
    </ul>
  </div>
  <div>
    <p> Endereço: <%= t.address %> </p>
    <p> Distância total: <%= t.total_distance%>Km </p>
    <p> Prazo de Entrega: <%= t.arrival_time%>h </p>
  </div>
<%end%>
<div>
  <%if current_user.is_admin? %>
    <%= link_to "Cadastrar Ordem de Serviço", new_service_order_url %>
  <%end%>
</div>