<h2> Ordem de Serviço: <%= @service_order.tracking_code %> </h2> 
<div>
  <ul>
    <li><strong>Endereço de coleta: </strong><%=  @service_order.address  %></li>
    <li><strong>Dimensões: </strong><%= @service_order.dimensions %></li>
    <li><strong>SKU: </strong><%= @service_order.sku %> </li>
    <li><strong> Destinatário: </strong><%= @service_order.recipient %> </li>
    <li><strong> Endereço do Destinatário: </strong><%= @service_order.recipient_address %> </li>
    <li><strong> Status: </strong><%= t(@service_order.status) %> </li>
    <li><strong> Distância Total: </strong><%= @service_order.total_distance %>Km </li>
    <li><strong> Veículo nessa rota: </strong><%= @service_order.vehicle.to_s %></li>
  
  </ul>  
</div>
<div>
  <% if current_user.is_admin? %>
    <%= link_to('Editar', edit_service_order_path(@service_order.id)) %>
    <%= button_to('Excluir', service_order_path(@service_order.id), method: :delete, data: {confirm: "Deseja realmente excluir essa ordem de serviço?"}) %>
  <br/>
  <% end %>
</div>
<% if @service_order.status == 'pending' %>
  <%= form_with url: initiate_service_order_path(@service_order.id), method: :post do |f| %>
    <h3> Taxas por Modalidade de Transporte </h3> 
    <div class="row" id="weight">
      <div class="col-md-4">
        <table style="width: 100%" >
          <tr>
            <th style="width: 40%">Modalidade</th>
            <th style="width: 30%">Valor Total</th>
            <th style="width: 20%">Prazo </th>
            <th style="width: 10%"></th>
          </tr>
          <% @transport_types.each do |t| %>
            <tr>
              <td><%= t.name %></td>
              <td>
                <% total_value = @service_order.calculate_value(t.id) %>
                <%= number_to_currency(total_value /100.0, unit: "R$", separator: ",", delimiter: "")%>
                <%= f.number_field :total_value, step: :any, value: total_value, type: :hidden %>
              </td>
              <td><%= t.arrival_time_configs.where("start_distance <= ? AND end_distance >= ?", @service_order.total_distance, @service_order.total_distance).first.hours %>h </td>
              <td><%= f.radio_button :transport_type_id, t.id %></td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
    </br>
    <%= button_to "Iniciar ordem de serviço", type: :submit %>
  <% end %>
<% end %>
<br/>


<%if @service_order.status == 'in_delivery' %>
  <%= button_to "Entregue", delivered_service_order_path(@service_order.id)  %>
<% end %>

