<div class="form-group">
  <%= f.label :start_weight  %>
  <%= f.number_field :start_weight, class: "form-control"  %>
  <small class="form-text text-muted"><%= "Peso mínimo: #{@transport_type.min_weight}Kg"%></small>
</div>
<br/>
<div class="form-group">
  <%= f.label :end_weight %>
  <%= f.number_field :end_weight, class: "form-control" %>
  <small class="form-text text-muted"><%= "Limite de peso: #{@transport_type.max_weight}Kg"%></small>

</div>  
<br/>
<div class="form-group">
  <%= f.label :value_per_distance %>
  <%= f.number_field :value_per_distance, step: :any, class: "form-control" %>  
</div>
<br/>
<div>
  <%= f.submit 'Enviar', class: "btn btn-primary" %>
</div>