<div>
  <%= f.label :start_weight %>
  <%= f.number_field :start_weight %>
</div>

<div>
  <%= f.label :end_weight %>
  <%= f.number_field :end_weight %>
</div>  

<div>
  <%= f.label :value_per_distance %>
  <%= f.number_field :value_per_distance %>  
</div>

<div>
  <%= f.submit 'Enviar' %>
</div>