
<h3> Veiculos</h3> 

<% @vehicles.each do |t|%>
  <div>
    <ul>
      <li> <%= link_to t.plate, vehicle_path(t.id)%> </li>
      <p> Marca: <%= t.brand%> </p>
      <p> Modelo: <%= t.model%></p>
      <p>Status:  <%=  I18n.translate(t.status)%></p>
    </ul>
  </div>
<%end%>
  <div>
  <%if current_user.is_admin? %>
    <%= link_to "Cadastrar Veículo", new_vehicle_url %>
  <%end%>
  </div>

