<h2>Cadastrar Modalidade de Transporte</h2>
<%if(@vehicle.errors.any?)%>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @vehicle.errors.full_messages.each do |msg|%>
      <li><%= msg %> </li>
    <%end%>
  </ul>
<%end%>

<%= form_with(model: @vehicle ) do |f| %>
  <div>
      <%= f.label :plate %>
      <%= f.text_field :plate%>
    </div>  
    <div>
      <%= f.label :model %>
      <%= f.text_field :model %>
    </div>
    <div>
      <%= f.label :brand %>
      <%= f.text_field :brand %>
    </div> 
    <div>
      <%= f.label :max_weight %>
      <%= f.number_field :max_weight%>  
    </div>
      <div>
      <%= f.label :fabrication_year %>
      <%= f.number_field :fabrication_year %>
    </div>  
    <div>
      <%= f.label :transport_type_id %>
      <%= f.collection_select :transport_type_id, @transport_types, :id, :name %>
    </div>

    <div>
      <%= f.submit 'Enviar' %>
    </div>
<% end %>