<h1> Resultados da Busca por: <%= @plate %> </h1>

<p><%= @vehicles.count %> <%= Vehicle.model_name.human(count: @vehicles.count) %> <%=t(:found, count: @vehicles.count)%> </p>

<% @vehicles.each do |vehicle| %>
  <ul>
    <li> <%= link_to vehicle.plate, vehicle_path(vehicle.id)%> </li>
    <p>Modelo: <%= vehicle.model%></p>
    <p>Marca: <%= vehicle.brand%></p>
  </ul>
<br/>
<%end%>
