<h3>Detalhes do veiculo <%= @vehicle.plate%></h3>

<div>
  <p> Marca: <%=@vehicle.brand%> </p>
  <p> Modelo: <%=@vehicle.model%></p>
  <p> Capacidade Máxima: <%=@vehicle.max_weight%>Kg</p>
  <p> Ano de Fabricação: <%=@vehicle.fabrication_year%></p>
  <p>Status: <%= t(@vehicle.status)%></p>
  <p>Modalidade de Transporte: <%= link_to "#{@transport_type.name}", transport_type_path(@transport_type) %></p>
  <% if @vehicle.allocated?%>
    <p> Alocado na ordem de serviço: <%= link_to @vehicle.service_order.tracking_code,  service_order_path(@service_order.id)%> </p>
  <%end%>
</div>

<%if current_user.is_admin? %>
  <div class="row">
      <%unless @vehicle.allocated? %>
    <div class= "col-md-1">
        <%= button_to("Excluir", vehicle_path(@vehicle.id), method: :delete,data: {confirm: "Deseja realmente excluir esse veículo?"}, class: 'btn btn-danger' )%>
    </div>
      <%end%>
    <div class= "col-md-1">
      <%= link_to "Editar", edit_vehicle_path(@vehicle.id), class: 'btn btn-info' %>
    </div>
    <div class= "col-md-1">
      <% if @vehicle.maintenance?%>
        <%= button_to "Ativar", active_vehicle_url(@vehicle.id), class: 'btn btn-success'  %>

      <%elsif @vehicle.active?%>
        <%= button_to "Em manutenção", maintenance_vehicle_url(@vehicle.id), class: 'btn btn-warning'  %>
      <%end%>
    </div>
<%end%>

