<!DOCTYPE html>
<html>

<head>
  <title>Sistema de Fretes</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>   
</head>
<body>
  <header class="p-3 mb-3 border-bottom" id="header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to index_path, class:"d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do%>
          <span class="fs-4"> Sistema de Fretes </span>
        <%end%>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <%if current_user.is_admin? %>
              <%= link_to "Usuários", admins_users_path, class:"nav-link px-2 link-#{controller_name == 'users' ? 'secondary' : 'dark'}" %>
            <%end%>
          </li>
          <li>
            <%= link_to "Modalidade de Transporte", transport_types_url , class:"nav-link px-2 link-#{controller_name == 'transport_types' ? 'secondary' : 'dark'}" %>
          </li>
          <li>
            <%= link_to "Veículos", vehicles_path, class:"nav-link px-2 link-#{controller_name == 'vehicles' ? 'secondary' : 'dark'}" %>
          </li>
          <li class="dropdown">
            <a class="<%= "nav-link px-2 link-#{controller_name == 'service_orders' ? 'secondary' : 'dark'} dropdown-toggle" %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Ordem de Serviços
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "Pendentes", pending_service_orders_path, class:"dropdown-item" %>
              </li>
              <li>
                <%= link_to "Ativas", in_delivery_service_orders_path, class:"dropdown-item" %>
              </li>
              <li>
                <%= link_to "Entregues", finished_service_orders_path, class:"dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Ver Todas", service_orders_path , class:"dropdown-item" %>
              </li> 
            </ul>
          </li>
        </ul>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li> 
              <%= link_to 'Minha Conta', edit_admins_user_path(current_user), class: "dropdown-item"  %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><%=  button_to 'Sair', destroy_user_session_url, method: :delete, class: "dropdown-item"%></li>
          </ul>
        </div>
      </div>
    </div>


  </header>
  <main>
    <div>
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    </div>
    <div class="container">
      <%= yield %>
    </div>
  </main>

</body>

</html>
