<!DOCTYPE html>
<html>

  <head>
    <title>Sistema de Fretes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" id="header">
        <%= link_to root_path, class:"d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do%>
          <span class="fs-4"> Sistema de Fretes </span>
        <%end%>
        <div class="col-md-3 text-end">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary me-2" %>
        </div>
      </header>
    </div>
    <main class="form-signin w-100 m-auto">
      <div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>

</html>